.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

.idea/
*.iml
*.iws
*.ipr
*.xml

.vscode/
launch.json

venv/
.venv/
ENV/
env/

*.exe
*.out
*.o
*.a
*.so
*.dll
*.class
__pycache__/
*.py[cod]
__debug_bin*

bin/
pkg/
*.test
go.sum

*.log
*.tmp
*.swp
*.swo
*~